/* Common Css */
/* --------------- */
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Inter', sans-serif;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
ul,  li, a {
    color: #000;
    text-decoration: none;
    list-style: none;
}

button{
    border: none;
    font-weight: bold;
    transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -ms-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
}

/* ---------------------------------------- */
/* ---------------------------------------- */
#hero-section{
    text-align: center;
    color: #ffffff;
    background-image:url("images/donation13.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
}
.bg-img{
  background-image: url("./images/donation10.jpg");
  filter: blur(3px);
  -webkit-filter: blur(3px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-content{
    border-radius: 5px;
    background-color: rgba(0,0,0, 0.4);
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
#hero-section h1{
    font-size: 60px;
    font-weight: bold;
}
.hero-content p{
    margin: 40px 0;
    font-size: 18px;
}
.btn{
    margin: 20px 0;
    border-radius: 20px;
    color: white;
    font-size: 100%;
    width: 150px;
    height: 40px;
    background: #FF5959;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

#donate-section{
    height: 100%;
    color: #575757;
    text-align: center;
    margin:5% ;
}
h2{
    color: rgb(56, 56, 56);
    margin: 20px 0;
    font-size: 45px;
    font-weight: bold;
}

.initi-ammount{
    font-size: 30px;
    background: rgba(0, 0, 0, 0.123);
    margin: 40px 5px;
    width: 150px;
    height: 100px;
    color: #575757;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}
.focused{
    color: #FF5959;
    background: #ff59596c;
    border: 1px solid #FF5959;

}

input[type=number]{
    border: none;
    border-bottom: 1px solid #575757;
    width: 50%;
    text-align: center;
    outline: none;
    font-size: 24px;
    margin: 20px 0;
    color: #575757;
}
.card{
    padding: 5% 2%;
    width: 100%;
    margin: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 1s ease-in;
    -webkit-transition: 1s ease-in;
    -moz-transition: 1s ease-in;
    -ms-transition: 1s ease-in;
    -o-transition: 1s ease-in;
}
.donate-plan-card{
    
    width: 100%;
    height: 100%;
    display: flex;
}
.card-one{
    background: rgba(90, 223, 123, 0.288);
}
.card-two{
    background: rgba(207, 105, 105, 0.329);
}
.card-three{
    background: rgba(212, 150, 56, 0.226);
}
.donate-plan-card{
    display: flex;
}
h3{
    font-weight: bold;
    font-size: 24px;
    margin: 20px;
}
.donation-card h3{
    margin: 10% 5% 5% 0 ;
}

.donation-card img{
    transition: 1s ease;
    padding-top: 5%;
    width: 100%;
    height: 200px;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -ms-transition: 1s ease;
    -o-transition: 1s ease;
}
.donation-card{
    width: 100%;
    text-align: start;
    padding: 0 2%;
    margin: 20px 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background: rgba(0, 0, 0, 0.062);
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.donation-area{
    display: flex;
}
.card-content{
    margin-bottom: 20px;
}

.help-area-content p{
    font-size: 18px;
    width: 600px;
    margin: 0 auto;
}
.newsletter{
    background-image: url("images/Frame57.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: #575757;
}
.newsletter p{
    padding:0 5%;
    font-size: 20px;
    color: red;
}
input[type=email]{
    color: #575757;
    margin: 20px;
    width: 50%;
    outline: none;
    border: none;
    border-bottom: 1px solid #575757;
    font-size: 20px;
    text-align: center;
    background: none;
}
footer{
    font-size: 18px;
    text-align: center;
    background: #000;
    color: #999999;
}
footer h1{
    font-family: 'Homemade Apple', cursive;
    color: #FF5959;
    font-weight: bold;
}
footer a{
    color: #FF5959;
    font-family: 'Homemade Apple', cursive;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
}
.footer-content{
    padding: 1%;
}


/* Hover Effect */
button:hover{
    border: 1px solid #FF5959;
    background-color: white;
    color: #FF5959;
    margin: 20px;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.card:hover{
    transform: rotateX(350deg);
    -webkit-transform: rotateX(350deg);
    -moz-transform: rotateX(350deg);
    -ms-transform: rotateX(350deg);
    -o-transform: rotateX(350deg);
}

/* .donation-card:hover{
    font-size: 15px;
    border:1px solid #fa9696 ;
    margin: 40px 40px 0;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
} */
.donation-card img:hover{
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}

footer a:hover, a:visited{
    color: #e9d415;
}
