/* Common Css */
/* --------------- */
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Inter', sans-serif;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
ul,  li, a {
    color: #000;
    text-decoration: none;
    list-style: none;
}


/* ---------------------------------------- */
/* ---------------------------------------- */
#hero-section{
    text-align: center;
    color: #ffffff;
    background-image:url("images/donation13.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
}
.hero-content{
    margin: 0 auto;
    width: 50%;
    position: relative;
    top: 40%;
}
#hero-section h1{
    font-size: 60px;
    font-weight: bold;
}
.hero-content p{
    margin: 40px 0;
    font-size: 18px;
}
.btn{
    margin: 20px 0;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 100%;
    width: 150px;
    height: 40px;
    background: #FF5959;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

#donate-section{
    height: 100%;
    color: #575757;
    text-align: center;
    margin:5% ;
}
h2{
    color: black;
    margin: 20px 0;
    font-size: 45px;
    font-weight: bold;
}

.initi-ammount{
    font-weight: bold;
    font-size: 30px;
    background: rgba(0, 0, 0, 0.123);
    border: none;
    margin: 40px 5px;
    width: 150px;
    height: 100px;
    color: #575757;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}
.focused{
    color: #FF5959;
    background: #ff59596c;
    border: 1px solid #FF5959;

}

input[type=number]{
    border: none;
    border-bottom: 1px solid #575757;
    width: 50%;
    text-align: center;
    outline: none;
    font-size: 24px;
    margin: 20px 0;
    color: #575757;
}
.card{
    padding: 5% 2%;
    height: 200px;
    width: 400px;
    margin: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.card-one{
    background: rgba(90, 223, 123, 0.288);
}
.card-two{
    background: rgba(207, 105, 105, 0.329);
}
.card-three{
    background: rgba(212, 150, 56, 0.226);
}
.donate-plan-card{
    display: flex;
}
h3{
    font-weight: bold;
    font-size: 24px;
    margin: 20px;
}
.donation-card h3{
    margin: 10% 5% 5% 0 ;
}

.donation-card img{
    padding-top: 5%;
    width: 100%;
   height: 200px;
}
/* .help-area{
    display: flex;
    flex-direction: column;
} */
.donation-card{
    width: 300px;
    text-align: start;
    padding: 0 2%;
    margin: 30px 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background: rgba(0, 0, 0, 0.062);
}
.donation-area{
    display: flex;
}
.card-content{
    margin-bottom: 20px;
}

.help-area-content p{
    font-size: 18px;
    width: 600px;
    margin: 0 auto;
}
.newsletter{
    background-image: url("images/Frame57.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: #575757;
}
.newsletter p{
    font-size: 20px;
}
input[type=email]{
    color: #575757;
    margin: 20px;
    width: 50%;
    outline: none;
    border: none;
    border-bottom: 1px solid #575757;
    font-size: 20px;
    text-align: center;
    background: none;
}
footer{
    font-size: 18px;
    text-align: center;
    background: #000;
    color: #999999;
}
footer h1{
    font-family: 'Homemade Apple', cursive;
    color: #FF5959;
    font-weight: bold;
}
footer a{
    color: #FF5959;
    font-family: 'Homemade Apple', cursive;


}
.footer-content{
    padding: 1%;
}
